section.section.home#home
  .home__container.container.grid
    .home__content.grid 
      .home__social
        a.home__social-icon(href="https://t.me/morozhiik" target="_blank")
          i.uil.uil-telegram
        a.home__social-icon(href="https://github.com/Morozh" target="_blank")
          i.uil.uil-github
        a.home__social-icon(href="https://perm.hh.ru/resume/c01a131cff042b3a980039ed1f654245595a41?hhtmFrom=resume_list" target="_blank")
          img(src="assets/icons/hh-icon.svg", alt="Head Hunter")
      
      .home__img
        img.home__blob-img(src="assets/images/header-img.png", loading="lazy", alt="Human")

      .home__info
        h1.home__title Hi, I'am Ruslan
        h3.home__subtitle Frontend developer 
        p.home__description Developer with experience in web design and development 
          | knoweledge, producing quality work.
        a.button.button_flex(href="#footer")
          | Contact Me&nbsp;
          i.uil.uil-message.button__icon
      
      .home__scroll 
        a.home__scroll-button.button_flex(href="#about")
          i.uil.uil-mouse-alt.home__scroll-mouse
          span.home__scroll-name Scroll down
          i.uil.uil-arrow-down.home__scroll-arrow
