section.section.qualification#qualification
  h2.section__title Qualification
  span.section__subtitle My personal journey

  .qualification__container.container
    .qualification__tabs
      .qualification__button.button_flex.is-active(data-target="#education")
        i.uil.uil-graduation-cap.qualification__icon
        | Education

      .qualification__button.button_flex(data-target="#work")
        i.uil.uil-briefcase-alt.qualification__icon
        | Work

    .qualification__sections
      .qualification__content.is-active#education(data-content)
        .qualification__data
          .qualification__col
            h3.qualification__title Technician programmer
            span.qualification__subtitle Perm - College
            .qualification__calendar
              i.uil.uil-calendar-alt
              | &nbsp;2017 - 2021

          .qualification__col
            span.qualification__rounder
            span.qualification__line

        .qualification__data
          .qualification__col

          .qualification__col
            span.qualification__rounder

          .qualification__col
            h3.qualification__title ER-Telecom
            span.qualification__subtitle Perm - Web intern
            .qualification__calendar
              i.uil.uil-calendar-alt
              | &nbsp;2019 - 2020

      .qualification__content#work(data-content)
        .qualification__data
          .qualification__col
            h3.qualification__title Kwork
            span.qualification__subtitle Russia - Freelance
            .qualification__calendar
              i.uil.uil-calendar-alt
              | &nbsp;2019 - 2020

          .qualification__col
            span.qualification__rounder
            span.qualification__line

        .qualification__data
          .qualification__col

          .qualification__col
            span.qualification__rounder

          .qualification__col
            h3.qualification__title Galago Design
            span.qualification__subtitle Perm - Frontend developer
            .qualification__calendar
              i.uil.uil-calendar-alt
              | &nbsp;2020 - 2022
