extends ../layouts/default-layout.pug
block content
  main.main
    include ../blocks/home-section
    include ../blocks/about-section
    include ../blocks/skills-section
    include ../blocks/qualification-section
    include ../blocks/projects-section
